body
{
	display: flex;
	background-color: pink;
	flex-direction: column;
	text-shadow: #f28295 0.1em 0.1em 0.1em;
	font-family: Fleur De Leah;
		color: white;
}
h1
{
	font-size: 700%;
	align-self: center;
	    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 0.1em;
}
h2
{	font-size: 500%;
	align-self: center;
}
.result
{
	display: flex;
	flex-direction: row;
	height: 11em;
	margin-left: 17em;

}
.nbrJour
{
	align-self: center;
	font-size: 450%;
	margin-left: 10%;
}
.button 
{
	align-self: center;
	margin-left: 1em;
}

.button > #dza
{
    cursor:pointer;
    border:none;
    width: 340px;
    height: 400px;
    margin-right: 1em;
}
.button > #vi
{
    cursor:pointer;
    border:none;
    width: 340px;
    height: 400px;
    margin-left: 2em;
}
.cid0020000293159598982
{
	align-self: center;
}